---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Juan Sulca">
	<main class="pt-24">
		<Hero title="Site under contruction 🚀" />
		<div id="projects" class="h-screen w-full bg-gray-700 m-0"></div>
		<div id="test" class="h-screen w-full bg-gray-500 m-0"></div>
	</main>
</Layout>
