---
import SectionTitle from "../components/SectionTitle.astro";
---

<div id="about" class="max-w-7xl w-full mx-auto p-4 scroll-mt-20">
  <div class="w-full mx-auto">
    <SectionTitle title="about()" />
  </div>
  <p class="text-xl text-gray-700 p-8 mx-auto">
    I'm a maker and software engineer with passion for the web, hardware, and
    generative art.
  </p>
  <div
    class="text-gray-700 mx-auto p-8 flex md:justify-between gap-8 md:flex-row flex-col my-8"
  >
    <div class="flex md:flex-row flex-col items-center my-8 md:my-0">
      <h2 class="text-6xl md:mr-4">+6</h2>
      <h3 class="text-2xl text-center">Years of experience</h3>
    </div>
    <div class="flex md:flex-row flex-col items-center my-8 md:my-0">
      <h2 class="text-6xl md:mr-4">~12</h2>
      <h3 class="text-2xl text-center">Projects</h3>
    </div>
  </div>
  <div class="h-1/3 p-8 mx-auto text-gray-700">
    <h2 class="md:text-2xl text-xl max-w-lg font-bold py-4">What I do?</h2>
    <div class="grid grid-cols-1 grid-rows-3 gap-8">
      <div>
        <h3 class="text-lg font-bold">Full-stack development</h3>
        <p class="">
          As a passionate software engineer, I believe in the boundless
          potential of technology. With over 7+ years of experience, I embrace
          challenges with excitement, pushing myself to reach new heights in
          crafting innovative solutions that shape the future of tech.
        </p>
      </div>
      <div>
        <h3 class="text-lg font-bold">Front-end development</h3>
        <p class="">
          As a skilled front-end developer, I thrive in the realm of
          implementation and user experience. Combining creativity with
          technical prowess, I specialize in crafting interactive, responsive,
          and performant front-end solutions using cutting-edge tech stacks.
        </p>
      </div>
      <div>
        <h3 class="text-lg font-bold">Back-end development</h3>
        <p class="">
          Behind every great application lies a robust back-end foundation, and
          that's where my expertise shines. With a passion for problem-solving
          and efficiency, I architect and build powerful, secure, and scalable
          back-end systems that drive the seamless functionality of cutting-edge
          software.
        </p>
      </div>
    </div>
  </div>
</div>
