---
import SectionTitle from "../components/SectionTitle.astro";
---
<div id="about" class="h-screen w-full bg-gray-500 m-0 scroll-mt-20">
  <SectionTitle title="about()"/>
  <p class="md:text-4xl text-2xl text-gray-50 p-8 text-justify max-w-screen-xl mx-auto">
    Here is where passion meets precision, and code becomes art. I'm a technologist and software developer fueled by an unyielding passion for crafting the future of technology.
  </p>
  <div class="h-1/3 w-full bg-slate-200 p-8">
    What I do
  </div>
</div>
