---
import Github from "./icons/Github.astro";
import LetterJ from "./icons/LetterJ.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro";
---

<div
    class="bg-white flex flex-col md:flex-row w-full gap-8 md:gap-16 px-8 py-8 text-sm m-0"
>
    <div class="flex-1">
        <div class="flex items-center gap-1">
            <!-- <LemonIcon class="inline-block" /> -->
            <LetterJ />
            <div class="font-bold text-2xl">Juan Sulca</div>
        </div>
        <div class="text-gray-500">Software Developer</div>
    </div>

    <div class="text-gray-500 space-y-2">
        <div class="text-xs">
            Copyright © 2025 Juan Sulca<br />
            All right reserved.
        </div>

        <a
            href="https://github.com/juansulca"
            target="_blank"
            class="inline-block hover:text-black"
        >
            <Github />
        </a>
        <a
            href="https://www.linkedin.com/in/juan-sulca/"
            target="_blank"
            class="inline-block hover:text-black"
        >
            <LinkedIn />
        </a>
        <a href="mailto:hey@juansulca.me" class="inline-block hover:text-black">
            <Mail />
        </a>
    </div>
</div>
