---
import { Image } from "astro:assets";
import portrait from "../assets/hero/portrait_v3.png";
---

<script>
  console.log(`
  _   _      _ _         _____ _                   _
 | | | | ___| | | ___   |_   _| |__   ___ _ __ ___| |
 | |_| |/ _ \\ | |/ _ \\    | | | '_ \\ / _ \\ '__/ _ \\ |
 |  _  |  __/ | | (_) |   | | | | | |  __/ | |  __/_|
 |_| |_|\\___|_|_|\\___/    |_| |_| |_|\\___|_|  \\___(_)

    `);
</script>

<div
  id="home"
  class="w-full flex md:flex-row flex-col px-8 h-screen justify-center items-center gap-16 bg-cover bg-center bg-no-repeat bg-gray-100 text-white scroll-mt-20"
  style="background-image:linear-gradient(rgba(0, 0, 40, 0.8),rgba(0, 0, 40, 0.8));"
>
  <Image src={portrait} alt="my pixel portrait" class="pixelated mr-4 w-220" />
  <div class="space-y-4 text-center">
    <h1 class="md:text-8xl text-4xl inline-block">
      I'm <b class="font-bold">Juan Sulca</b>
    </h1>
    <p class="md:text-4xl text-xl text-blue-100">Maker & Software engineer</p>
  </div>
</div>

<style>
  .pixelated {
    width: 30rem;
    height: auto;
    image-rendering: pixelated;
  }
</style>
