---
import SectionTitle from "./SectionTitle.astro";
---

<div id="projects" class="min-h-screen w-full bg-gray-700 m-0 text-gray-100 p-4 scroll-mt-20">
  <SectionTitle title="Projects()"/>
  <div class="md:w-2/3 md:h-[33vh] p-8 mx-auto mb-4 flex justify-center md:flex-row flex-col-reverse border rounded sticky top-24 bg-indigo-900 z-0">
    <div class="md:w-1/2 flex flex-col justify-between px-4">
      <h3 class="md:text-2xl text-xl max-w-lg font-bold py-4">Colorfull Delivery</h3>
      <p>
        This project utilizes a given hash value to create a captivating color matrix.
        By converting the hash into a collection of hex colors,
        it dynamically generates a matrix that reflects the unique data points.
        With potential applications in data visualization, such as blockchain analysis,
        this creative tool showcases the power of code and its ability to turn data into visual art.
      </p>
      <div>
        <a href="https://editor.p5js.org/JuanSulca/full/nRLZ_BeiR">Live preview</a>
      </div>
    </div>
    <div class="h-full md:w-1/2">
      <img src="projects/ColorfullDelivery.png" alt="Colorful delivery color matrix" class="h-full mx-auto">
    </div>
  </div>
  <div class="md:w-2/3 md:h-[33vh] p-8 mx-auto mb-4 flex justify-center md:flex-row flex-col-reverse border rounded sticky top-24 bg-indigo-900 z-0">
    <div class="md:w-1/2 flex flex-col justify-between px-4">
      <h3 class="md:text-2xl text-xl max-w-lg font-bold py-4">Arduino LMiC adaptation to LoRaWAN v1.1</h3>
      <p>
        This project focused on adapting the Arduino LMiC library to comply with the LoRaWAN v1.1 specification for A and C devices,
        incorporating enhanced security features and ensuring compatibility with the latest standards.
        The modified library offered developers the ability to create robust and secure LoRaWAN applications while
        facilitating seamless integration with LoRaWAN v1.1 networks. The project prioritized delivering LoRaWAN v1.1 features while
        minimizing the impact on the library's performance. The aim was to provide the researcher and developer community with a highly
        functional and dev-friendly LoRaWAN v1.1 implementation.
      </p>
      <div>
        <a href="https://github.com/juansulca/arduino-lmic">Project Github</a>
      </div>
    </div>
    <div class="h-full md:w-1/2">
      <img src="projects/ColorfullDelivery.png" alt="Colorful delivery color matrix" class="h-full mx-auto">
    </div>
  </div>
</div>