---
import Rust from "../components/icons/Rust.astro";
import SkillCard from "../components/SkillCard.astro";
import SectionTitle from "../components/SectionTitle.astro";
---
<div id="skills" class="h-screen w-full bg-gray-500 m-0 scroll-mt-20">
  <SectionTitle title="skills()"/>
  <div class="grid md:gap-4 gap-2 md:grid-cols-3 grid-cols-2 md:grid-rows-3 grid-rows-4 md:mx-[10vw] mx-[5vw] text-gray-50">
    <SkillCard name="Rust">
      <Rust />
    </SkillCard>
    <SkillCard name="TypeScript">
      <Rust />
    </SkillCard>
    <SkillCard name="MongoDB">
      <Rust />
    </SkillCard>
    <SkillCard name="JavaScript">
      <Rust />
    </SkillCard>
    <SkillCard name="Svelte">
      <Rust />
    </SkillCard>
    <SkillCard name="React">
      <Rust />
    </SkillCard>
    <SkillCard name="Deno">
      <Rust />
    </SkillCard>
    <SkillCard name="Python">
      <Rust />
    </SkillCard>
    <SkillCard name="Go">
      <Rust />
    </SkillCard>
  </div>
</div>
