---
const { name } = Astro.props;
---

<div class="flex flex-row items-center">
  <div class="w-1/4 md:p-4">
    <slot/>
  </div>
  <h2 class="md:text-2xl text-lg font-bold md:ml-8 ml-4">{name}</h2>
</div>
